
/*log-in styles */

*
{
    padding: 0;
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "roboto";
}

.header
{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid rgb(180, 180, 180);
}

.logo
{
    width: 150px;
    margin-left: 90px;
}

.body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    position: relative;
}

.welcome-ctr
{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome-label
{
    font-size: 30px;
    font-weight: 600;
}

.sign-up
{
    font-size: 18px;
    font-weight: 400;
    color: rgb(58, 58, 58);
   
}

.link
{
    font-size: 18px;
    font-weight: 400;
    color: #163300;
   
}

.form-ctr
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.field-description
{
    font-size: 18px;
    font-weight: 400;
    color: rgb(58, 58, 58) ;
}


.e-mail-input , .password-input
{
    height: 40px;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(71, 71, 71);
    background-color: aliceblue;
    margin-top: 5px;
    border-radius: 10px;
}

.email-ctr , .password-ctr , .error-ctr , .login-btn-ctr
{
    height: 80px;
    width: 35%;
    text-align: left;
}
.login-btn-ctr
{
    text-align: center;
    padding-top: 20px;
}

.error-ctr
{
    transition: all 0.5s;
}

.error-msg
{
    font-size: 20px;
    font-weight: 500;
    color: crimson;
    padding-top: 10px;
}



.log-in-btn
{
    background: #9fe870;
    width: 95%;
    height: 40px;
    border-radius: 19px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    color: rgb(54, 54, 54);
}

.log-in-btn:hover
{
    background: #79e038;
}

.login-options-ctr
{
    width: 35%;
}

.buttons-ctr
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.text
{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(44, 43, 43);
}

.logo-img
{
    width: 30px;
    height: 30px;
}

.fb , .google , .apple
{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

.fb:hover
{
    background-color: rgba(28, 28, 245, 0.397);
}

.google:hover
{
    background-color: rgba(9, 9, 134, 0.651);
}

.apple:hover
{
    background-color: rgba(59, 59, 61, 0.651);
}

.overlay
{
    position: absolute;
    top: 0;
    bottom: -20px;
    left: 0;
    right: 0;
    background-color: rgba(119, 117, 117, 0.274);
    backdrop-filter: blur(10px);
    transition: all 0.5s;
}

.open-account-model
{
    height: 550px;
    width: 600px;
    position: absolute;
    top: 50px;
    bottom: 100px;
    left: 350px;
    right: 100px;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    transition: all 0.5s;
    box-shadow: 7px 7px 6px rgb(73, 73, 73);
    border-radius: 10px;
}

.title
{
    font-size: 35px;
    color: rgb(90, 86, 86);

}

.form
{
    height: 83%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.field
{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.label
{
    font-size: 22px;
    font-weight: 500;
    color: rgb(49, 48, 48);
    width: 50%;
    margin-right: 15px;
}

.input-field
{
    height: 32px;
    width: 220px;
    font-size: 17px;
    font-weight: 600;
    color: rgb(53, 51, 51);
    padding: 0 10px;
    background: aliceblue;
    outline: 1px solid rgba(216, 211, 211, 0.616);
    border: 1px solid rgba(175, 171, 171, 0.678);
    border-radius: 12px;
   /* background-color: rgba(220, 20, 60, 0.151);*/
}

.birth-date
{
    width: 260px;
}

.submit
{
    height: 40px;
    width: 140px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 17px;
    border: none;
    background-color: #9fe870;
    color: rgb(34, 33, 33);
    transition: all 0.4s;
    cursor: pointer;
}

.submit:hover
{
    box-shadow: 3px 3px 5px  #8d9c84;
    color: rgb(53, 53, 53);
}

.close-btn
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.close-btn:hover
{
    background-color: rgba(124, 121, 121, 0.5);
    box-shadow: 2px 2px 5px  #8d9c84;
}

.comfirm-msg
{
    position: absolute;
    height: 130px;
    width: 450px;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgb(53, 52, 52);
    transition: all 0.6s;
    z-index: 100;
}

.message
{
    font-size: 16px;
    font-weight: 500;
    color: rgb(26, 25, 25);
}

.button
{
    height: 35px;
    width: 90px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: all 0.6s;
}

.button:hover
{
    opacity: 0.8;
    color: rgb(39, 35, 35);
}

.yes
{
    background-color: rgba(16, 146, 55, 0.877);
}

.no
{
    background-color: crimson;
}

.empty-field-error
{
    color: crimson;
    font-size: 18px;
    font-weight: 600;
}

.hidden
{
    /* visibility: hidden; */
    display: none;
}